<header class="full-width">
  <div class="header__menu">
    <a href="#">Home</a>
    <a href="#">Women</a>
    <a href="#">Men</a>
    <a href="#">Collection</a>
    <a href="#">Explore</a>
  </div>
  <h2 class="header__title">
    {{ shop.name | link_to: routes.root_url }}
  </h2>
  <div class="header__icons">
    <a href="#">
      {{ 'icon-search.svg' | inline_asset_content }}
    </a>
    <a href="#">
      {{ 'icon-user.svg' | inline_asset_content }}
    </a>
    <a href="#">
      {{ 'icon-heart.svg' | inline_asset_content }}
    </a>
    <a href="#">
      {{ 'icon-cart-small.svg' | inline_asset_content }}
    </a>
  </div>
</header>

{% stylesheet %}
  header {
    padding: 0 24px;
    display: flex;
    align-items: center;
    height: 5rem;
  }

  header .header__menu,
  header .header__icons {
    display: flex;
    gap: 1rem;
  }

  header a {
    position: relative;
    text-decoration: none;
    color: var(--color-foreground);
  }

  header .header__menu {
    flex: 1;
  }

  header .header__icons {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }
{% endstylesheet %}
